#train {
	background-color: #2F4F4F;
	color: white;
}

#align {
	background-color: #2F4F4F;
	color: white;
	text-align: center;
}

#current {
	background-color: #2F4F4F;
	color: white;
}

#pan {
	border-color:  #2F4F4F;
	
}

#pan2 {
	border-color:  #2F4F4F;
	
}